
* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

  
h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  margin-left: 20px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 15px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 12px;
  background-color: rgb(88,86,214);
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}


code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
}

#footer > p {
  margin: auto;
  text-align: center;
}

#footer {
    line-height: 200%;
}

#forms {

  margin: auto;
  text-align: center;
}